<!DOCTYPE html>
<html>
<head>
	<title>Wizarding at Toronto City Hall</title>

	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/angular.min.js"></script>

    <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="styles/styles.css">
	<!--<link href="styles/googlefonts.css" rel="stylesheet">-->
</head>

<body>

<!--
<h1>Wizarding at Toronto City Hall</h1>
<p>Originated by Stacy Dewing.  Collaborators:  Bernard Oeltjen, Eric Fan, Michelle Jongman</p>
<h2>Type CTRL+SHIFT+I to enter console mode for testing</h2><br />
-->

<p>
	
</p>

<div class="center container-fluid" ng-app="myApp" ng-controller="storyCtrl">

<h1>Story UI</h1>
<p>version 0.1</p>

	

	<button class="btn btn-sm btn-success" id="loadPrevStoryButton" ng-click="loadPrevStory()"><< Prev</button>
	<select id="storySelect" ng-model="storySelectSelected" ng-options="ind group by updateStoriesLocations(story) for (ind, story) in stories"></select>	
	<button class="btn btn-sm btn-success" id="loadNextStoryButton" ng-click="loadNextStory()">Next >></button>	
	<!--<br/> 
	<button class="btn btn-sm btn-success" id="saveStoryButton" ng-click="saveStory()">Save Story</button>
	<br/>-->
	<br/><p>{{storySelectSelected}}</p>
	<button class="btn btn-sm btn-success" ng-click="createNewStory()">New</button>	
	<button class="btn btn-sm btn-success" onclick="alert(updateStoriesDB())">Save</button>
	<button class="btn btn-sm btn-success" ng-click="createNewStory('duplicate')">Duplicate</button>	


	<div class="table-responsive" id="conditionSelectors" ng-init="itemKind='condition'">
		<h2>Story Conditions:</h2>
		<p>{{selectedItemAspect[itemKind]}} : {{selectedItemAction[itemKind]}} : {{selectedItemValue[itemKind]}}</p>
		<table class="table table-bordered table-hover table-striped size">
			<tbody>
				<tr class="itemSelectorsRow text-left d-none">
					<td style="width:5%"><span class="editItemIndex"></span>
					</td>
					<td style="width:23%">
						<select class="aspectSelect" ng-model="selectedItemAspect[itemKind]" ng-options="aspect as aspect for (aspect,aspectObj) in aspectsActionsValues[itemKind]">
						<option disabled value="">Select Aspect</option>
						</select>				
					</td>
					<td style="width:23%">
						<select class="actionSelect" ng-model="selectedItemAction[itemKind]" ng-options="action as action for (action,actionObj) in aspectsActionsValues[itemKind][selectedItemAspect[itemKind]]">
						<option disabled value="">Select Action</option>
						</select>
					</td>

					<td style="width:23%">
						<!--<select class="valueSelect" ng-model="selectedItemValue[itemKind]" ng-options="value as value for (value,valueObj) in aspectsActionsValues[itemKind][selectedItemAspect[itemKind]][selectedItemAction[itemKind]]" ng-change="promptForValue()">
						<option disabled value="">Select Value</option>
						</select>-->
						<span class="valueInput">
							<input type="text" style="width: 100%;" ng-model="selectedItemValue[itemKind]"></input>
							<!--
							<button type="button" class="btn btn-success btn-xs">
								<span class="glyphicon glyphicon-ok"></span>
							</button>
							<button type="button" class="btn btn-success btn-xs">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
							-->
						</span>
					</td>
					<td style="width:26%">
						<button class="updateItem btn btn-xs btn-success" ng-click="updateItem(itemKind)"></button>
						<button class="cancelUpdateItem btn btn-xs btn-default d-none" ng-click="cancelItem(itemKind)">Cancel</button>

					</td>
				</tr>
				<tr ng-repeat="item in storySelectSelected[itemKind+'s']" emit-last-repeater-element class="text-left">
					<td style="width:5%" class="{{'itemIndex'+($index+1)}}">{{$index+1}}</td>
					<td style="width:23%">{{item.aspect}}</td>
					<td style="width:23%">{{item.action}}</td>
					<td style="width:23%">{{item.value}}</td>
					<td style="width:26%">
						<button class="btn btn-success btn-xs" ng-click="editItem(itemKind,$index)" >Edit</button>
						<button class="btn btn-success btn-xs" ng-click="removeItem(itemKind,$index)">Remove</button>
					</td>

				</tr>
				<tr class="text-left">
					<td style="width:5%" ng-click="addItem('condition')">        
						<button type="button" class="btn btn-success btn-xs">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</td>
					<td colspan=4></td>
				</tr>				
			</tbody>
		</table>
	</div>

	<div class="size">
		<div class="float-left">
			<label for="storyLocation" class="float-left">Story Takes Place in:&nbsp;</label>
			<input type="text" id="storyLocation" name="storyLocation" ng-model="storySelectSelected.location" disabled></input> <button class="btn btn-success btn-xs" ng-click="createNewStory('update')">Edit</button>
			<br>
			<label for="storyOrder" class="float-left">Story Order:&nbsp;</label>
			<input type="text" id="storyOrder" name="storyOrder" ng-model="storySelectSelected.order"></input>
		</div>
		<br/>
		<br/>
		<label for="storyBody" class="float-left">Story Narrative:</label><br />
		<textarea id="storyBody" class="formGroup" ng-model="storySelectSelected.story"></textarea>
		<br/>
		<div class="float-right">{{256 - storySelectSelected.story.length}} characters remaining</div>
	</div>

	<div class="table-responsive" id="impactSelectors" >
		<h2>Story Impacts:</h2>
		<p>{{selectedImpactAspect}} : {{selectedImpactAction}} : {{selectedImpactValue}}</p>
		
		<table class="table table-bordered table-hover table-striped size">
			<tbody>
				<tr id="impactSelectorsRow" class="text-left d-none">
					<td style="width:5%"><span id="editImpactIndex" name="editImpactIndex"></span>
					</td>
					<td style="width:23%">
						<select id="impactAspectSelect" ng-model="selectedImpactAspect" ng-options="aspect as aspect for (aspect,aspectObj) in aspectsActionsValues.impact">
						<option disabled value="">Select Aspect</option>
						</select>				
					</td>
					<td style="width:23%">
						<select id="impactActionSelect" ng-model="selectedImpactAction" ng-options="action as action for (action,actionObj) in aspectsActionsValues.impact[selectedImpactAspect]">
						<option disabled value="">Select Action</option>
						</select>
					</td>

					<td style="width:23%">
						<select id="impactValueSelect" ng-model="selectedImpactValue" ng-options="value as value for (value,valueObj) in aspectsActionsValues.impact[selectedImpactAspect][selectedImpactAction]">
						<option disabled value="">Select Value</option>
						</select>								
					</td>
					<td style="width:26%">
						<button class="btn btn-xs btn-success" id="updateImpact" ng-click="updateItem('impact')">Add Impact</button>
						<button class="btn btn-xs btn-default d-none" id="cancelUpdateImpact" ng-click="cancelItem('impact')">Cancel</button>

					</td>
				</tr>
				<tr ng-repeat="impact in storySelectSelected.impacts" class="text-left">
					<td style="width:5%" id="{{'impactIndex'+($index+1)}}">{{$index+1}}</td>
					<td style="width:23%">{{impact.aspect}}</td>
					<td style="width:23%">{{impact.action}}</td>
					<td style="width:23%">{{impact.value}}</td>
					<td style="width:26%">
						<button class="btn btn-success btn-xs" ng-click="editItem('impact',$index)" >Edit</button>
						<button class="btn btn-success btn-xs" ng-click="removeItem('impact',$index)">Remove</button>
					</td>
				</tr>
				<tr class="text-left">
					<td style="width:5%" ng-click="addItem('impact')">        
						<button type="button" class="btn btn-success btn-xs">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</td>
					<td colspan=4></td>
				</tr>					
			</tbody>
		</table>
	</div>
	


</div>
	

<script src="js/jsonDB.js"></script>
<script src="js/storyUI.js"></script>
<script src="js/wizarding.js"></script>


</script>
</body>
</html>
